<!-- Lets talk about geddy -->
<div class="jumbotron">
  <h1>您好!</h1>
  <p>欢迎来到物流信息共享平台，在这里您可以找到优质的一手物流信息和发布您的物流需求...</p>
  <p>
    <a class="btn btn-primary btn-large" href="/line" role="button">前往我的物流信息 »</a>
  </p>
</div>