@charset "utf-8";
/* CSS Document */
html, body, div, p, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td {margin: 0;padding: 0;}
img {border: 0 none;vertical-align: top;}
img.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    opacity:0.4;
    filter:alpha(opacity=40);
}
ul, li {list-style-type: none;}
a { text-decoration: none;}
a:hover{ color:red;}
h1, h2, h3, h4, h5, h6 {font-size: 14px;}
body {font-size: 12px;font-family: Tahoma, Geneva, sans-serif; background: url(../images/background.jpg) no-repeat;background-color: #e7e7e7;}
select, button { font-size: 12px; font-family: Tahoma, Geneva, sans-serif;background-color:#e7e7e7;}
.clear {clear: both;float: none;}
.c{clear: both;float: none;}
.red {color: #F00;}
.w{ width:1002px; margin:0 auto;  position:relative;}
.right{ float:right;}
.left{ float:left;}
.black{ color:#333;}
#blue a{ color:blue;}
.left p{ font-size:14px;}
.ln_margin{margin-left:10px;}
/*---头部---*/
.logo{ margin-right:128px;}
.background{ width:100%; height:41px; border-bottom:4px solid #488120; background:url(../images/top.jpg) repeat-x;}
.background a{ color:#fff;}
.background a:hover{ color:#488120;}
.background .ul{height:41px; line-height:41px; font-size:12px; font-weight:bold;}
.background .ul li{height:41px; float:left; padding-right:30px;}
.background .ul li.qita a{ width:73px; display:block; height:41px; background:url(../images/nav.jpg) no-repeat 52px 0px; text-decoration:none;}
.background .ul li.qita a:hover{background:url(../images/nav.jpg) no-repeat 52px -41px;}

/*----top---*/
/*.top{height:80px; margin-top:40px;}*/
/*.seach{ width:650px; height:72px; margin:10px auto 0 auto;}*/
/*.dainput{width:650px; height:45px; background:#fff;border: 1px solid #CBEF93;}*/
/*.input{ width:500px; height:45px;*height:21px;*line-height:21px;*padding:12px 0;_overflow:hidden; background:#fff; border:none; vertical-align:middle; color:#666; font-size:14px;}*/
/*.anniu{ background:#1f801d; width:95px; height:45px; border:none; font-size:14px; font-weight:bold; color:#FFF; font-family:"微软雅黑","黑体"; cursor:pointer;}*/
/*.hot{height:25px; width:480px;line-height:25px; padding-top:5px;}*/
/*.hot a{ color:#666; padding:0 5px;}*/

/*---筛选区---*/
.screening{ background:#fff; margin-top:10px; border:1px solid #ddd;}
.screening .til{ width:1000px; overflow:hidden; background-color:#fff;}
.screening .til .title{ width:1000px; height:37px; overflow:hidden; line-height:30px; padding:20px 0 0 10px; margin:0 auto;}
.screening .til .title li{ float:left; width:140px; height:37px; overflow:hidden; line-height:37px; background-color:#66ae34; margin-right:2px; text-align:center; font-size:16px; font-family:"微软雅黑","黑体";}
.screening .til .title li a{color:#fff; width:140x; height:37px; display:block;}
.screening .til .title li.hover{ width:130px;background:none; font-size:24px; font-family:"微软雅黑","黑体";}
.screening .til .title li.hover a{color:#333;}
.screening .til .title_item{ width:900px; overflow:hidden; line-height:20px; padding:10px 0; margin:0 0 0 35px; color:#888;}
.green{ color:red;}
/*---收缩块---*/
.shousuo {width: 25px;height: 46px;position: absolute;bottom: 0px;right: -25px;cursor: pointer; }
/*.shouqi {margin-bottom: 20px;}*/
.up {background: url(../images/shou.jpg) no-repeat;}
.down {background: url(../images/down.jpg) no-repeat;}

/*---筛选内容区---*/
/*--.panel{padding-top: 10px;}--*/
.panel{padding-top: 10px;}
.panel .row, .city .row, .city .row2 {padding-left: 110px;line-height: 30px;height: 30px;margin-bottom: 12px;}
.panel .row3 {line-height: 30px;height: 30px;margin-bottom: 12px;}
.city .row2 {heigth: auto;}
.row3 .label {width: 100px;text-align: right;margin-left:15px;padding-right: 4px;color: #666;font-size: 14px;float: left;}
.row .label {float: left;width: 100px;margin-left: -100px;text-align: right;padding-right: 4px;color: #666;font-size: 14px;}
.row .label2 {margin-top: 3px;}
.row .addBtn {color: #ff3300;}
.row .item2 {width: 605px;display: none;}
.row .item span {color: #027c00;cursor: pointer;margin-right: 15px;font-size: 14px;}
.row .item input{width:20px; height:14px; vertical-align: middle; *vertical-align: -4px;}
.row .item2 span {color: #027c00;cursor: pointer;margin-left: 2px;margin-right: 13px;font-size: 14px;width: auto;display: inline-block}
.row .item span:hover, .row .item2 span:hover {color: #ff1d1d;}
.row .item .moreLink {color: #7a7a7a;text-decoration: none;padding-right: 14px;background: url("/images/icons.png") no-repeat right -129px;}
.chaxun{display:inline-block;width:84px;height:34px;text-align:center;line-height:34px;color:#fff;background:#33ADA8;margin-left: 5px; border-radius:2px;font-family:Microsoft YaHei;font-size:16px; }
.chaxun:hover{display:inline-block;width:84px;height:34px;text-align:center;line-height:34px;color:#fff;text-decoration:none;background:#008AA7;margin-left: 5px;box-shadow:inset 2px 2px 2px 2px rgba(0,0,0,0.1);}

/*这里是新增的css*/
.city .city_now{float: left;width: auto;}
.city .huanbox {height: 46px;position: relative;font-size: 12px;float: left;border: 1px solid #cccccc;border-left: none;padding-right: 18px;margin-top: 10px;}
.city .huanbox .huan {font-style: normal;position: absolute;right: -8px;top: 12px;height: 18px;width: 18px;line-height: 18px;text-align: center;color: #ffffff;cursor: pointer;background: #cccccc;text-decoration: none;}
.city .huanbox .huan:hover {background: #66ae34;}
.item_1 a {color: #4d4d4d;text-decoration: none;font-weight: bold;padding-right: 10px;}
.row .item input.btngl {width: 70px;height: 25px;font-size: 12px;background: #fff;border: 1px solid #999;color: #666;margin-left: -10px;cursor: pointer;display: none;}
#sw, #ew {border: 1px solid #ddd;width: 50px;height: 32px;background: #fff;}
.w .content {width: 70px;height: 25px;font-size: 12px;background: #fff;border: 1px solid #999;color: #666;margin-left: -10px;cursor: pointer;display: none;}
.fromaddress, .toaddress, .citynum {border: 1px solid #ddd;width: 180px;height: 32px;background: #fff;color: #999;font-size: 14px;padding-left: 10px;float: left;}
.addBtn {margin: 40px 0 0 15px;float: left;}
.addBtn a {color: #ff4e00;}

/*这里是新增的line css*/
.city{padding:16px 0 30px 0; zoom: 1;}
.city_info{padding: 10px 0 20px 0;zoom: 1;overflow: hidden;}
.city .inner{height:46px; position: relative; font-size: 12px; float: left; border: 1px solid #cccccc; border-left: none; padding-right: 18px;}
.city .inner .row{background: #ffffff; position: relative; top: -14px;}
.city .inner a{font-style: normal; position: absolute; right: -8px; top:12px; height:18px; width:18px; line-height:18px; text-align: center; color: #ffffff; cursor: pointer; background: #cccccc; text-decoration: none;}
.city .inner a:hover{background: #66ae34;}
.item_1 a{color:#4d4d4d; text-decoration:none;font-weight:bold;}
#xiao,#sa,#ea{ border:1px solid #ddd; width:50px; height:28px; background:#fff;}
#cityNum,.cityNum{ border:1px solid #ddd; width:180px; height:32px; background:#fff; color:#999; padding-left:5px; font-size:14px;}

/*---筛选---*/
#conditionBox{display: none;}
.selected {height: 35px;line-height: 35px;background: #fcfcfc;margin: 0 auto 20px auto;border: 1px solid #e5e5e5;width: 930px;padding-left: 10px;color: #F30;}
.condition {display: inline-block;height: 22px;line-height: 22px;border: 1px solid #ffb54b;padding: 0 8px;margin: 0 4px;background: #fff;}
.condition a {background: #ffffff url(../images/icons.png) no-repeat right;padding-left: 20px;display: inline; _zoom:1;*display:inline-block;}
#yixuan {color: #808080;}

/*---内容块---*/
.subtitle {height: 42px;background: #f2f2f2;background: url(../images/content.jpg) repeat-x;color: #666;font-size: 14px;line-height: 43px;}
.subtitle span {padding: 0 2px; display:block; float:left; height:42px;}
.frit {margin: 0 410px 0 145px;}
.frit_time{width:155px; text-align:center;}
.frit_add{width:100px; text-align:center;}
.frit_change{width:120px; text-align:center;}
.frit_cankao{width:130px; text-align:center;}
.content_text {color: #666;font-size: 14px;padding: 20px 0 20px 20px;line-height: 26px;overflow: hidden;border-bottom: 1px dashed #CCCCCC;}
.content_text:hover {background-color: #fffee5;}
.info_text a {color: #525251;font-weight: bold;width: 465px;white-space: nowrap;text-overflow: ellipsis;-o-text-overflow: ellipsis;overflow: hidden;display: block;}
.red {color: red;}
.green {color: #393;}
.tuijian{background: url(../images/tuijian.gif) left top no-repeat #F2F8FC;}
.text_right {line-height: 60px;}
.info_time {width: 120px;text-align: center;display: inline-block;padding: 0px 2px;}
.info_city {width: 120px;text-align: center;display: inline-block;padding: 0px 2px;}
.info_detail {width:120px;text-align: center;display: inline-block;padding: 0px 2px;}
.info_jia {width:130px;text-align: center;display: inline-block;padding: 0px 2px;}
.info_detail a {color: #25D;text-decoration: none;}
.info_detail a:hover {color: red;text-decoration: none;}
.info_detail a:visied {color: #969;}
.normal a {color: #25D;}
.normal a:hover {color: #000;}

/*---内容块---*/
.content{ background:#fff; overflow:hidden; border:1px solid #ddd;}
.subtitle_list{height:42px; background:#f2f2f2; background:url(../images/content.jpg) repeat-x; color:#666; font-size:14px; line-height:43px;}
.subtitle_list span{ padding:0 42px;}
.frit_list{ margin:0 360px 0 100px;}

.text_one a{color:#525251; font-weight:bold;}
p a{ color:#393;}
.list_right{ line-height:60px;}
.list_right span{ padding:0 35px;}

/*---下一页CSS--*/
.fenye {width: 100%;height:auto;line-height: 33px;overflow: hidden;margin: 0px auto; padding:20px 0px 20px 100px;text-align: center;}
.pagination {font: 12px/16px arial;margin: 0 auto;width: 750px;}
.pagination a,.pagination span {float: left;margin: 0 3px;border: 1px solid #999;padding: 10px 14px;text-decoration: none;color: #666}
.pagination span.current,.pagination a:hover {color: #fff;background: #66ae34}
.pagination span.prev,.pagination span.next{border: 1px solid #999;padding: 10px 14px;text-decoration: none;color: #666;background: #ffffff}
/*底部*/
.footer {width: 100%;background: #66ae34;overflow: hidden;padding: 30px 0;margin-top: 20px;}
.foot-link {text-align: center;color: #fff !important;line-height: 28px;}
.foot-link a {color: #fff !important;font-weight: bold;}
.copy, .copy a{text-align: center;line-height: 28px;padding-bottom: 20px;font-size: 12px;color: #FFF;}
/*----浮动---*/
p#back-to-top {position: fixed;bottom: 100px;right: 200px;z-index: 999;left:52%;margin-left:500px;}
p#back-to-top a {text-align: center;text-decoration: none;color: #818181;display: block;width: 50px;/*使用CSS3中的transition属性给跳转链接中的文字添加渐变效果*/-moz-transition: color 1s;-webkit-transition: color 1s;-o-transition: color 1s;}
p#back-to-top a:hover {color: #979797;}
p#back-to-top a span {background: #fff url(../images/jia.png) no-repeat center center;border-radius: 6px;display: block;height: 50px;width: 50px;margin-bottom: 5px;/*使用CSS3中的transition属性给<span>标签背景颜色添加渐变效果*/-moz-transition: background 1s;-webkit-transition: background 1s;-o-transition: background 1s;}
#back-to-top a:hover span {background: #c8c8c8 url(../images/jia.png) no-repeat center center;}


/*---顶部---*/
p#back-to-fankui a {text-align: center;text-decoration: none;color: #818181;display: block;width: 50px;/*使用CSS3中的transition属性给跳转链接中的文字添加渐变效果*/-moz-transition: color 1s;-webkit-transition: color 1s;-o-transition: color 1s;}
p#back-to-fankui {position: fixed;bottom: 180px;right: 200px;z-index: 999;left:52%;margin-left:500px;}
p#back-to-fankui a:hover {color: #929292;}
p#back-to-fankui a span {background: #fff url(../images/xinxi.png) no-repeat center center;border-radius: 6px;display: block;height: 50px;width: 50px;margin-bottom: 5px;}
#back-to-fankui a:hover span {background: #c8c8c8 url(../images/xinxi.png) no-repeat center center;}
/*---没有搜索到内容css---*/
.content_kuang {height: auto;text-align: center;width: 420px;margin: 0 auto;}
.content_one {height: auto;text-align: center;width: 560px;margin: 0 auto;}
.content_a {margin: 0 auto;line-height: 30px;}
#no_w {font-size: 16px;width: 100%;line-height: 23px;color: #757575;font-family: "微软雅黑"}
#no_center {font-size: 18px;line-height: 23px;color: #ff3c00;font-family: "微软雅黑";font-weight: bold;}
.content_no {padding: 50px 0 100px 0;line-height: 26px;overflow: hidden;width: auto;}

/*-----详细页面CSS-----*/
.tag{color:#398038;}
.title_item a{color:#999;}
.title_item a:hover{color:#666;}
.quanxi_huo{ width:52px; height:44px; line-height:40px; text-align:center; font-size:24px; font-family:"微软雅黑"; color:#fff; background:#ff4900; float:left; margin-top:8px;}
.quanxi_title{ float:left; margin:0 0 10px 0; width:750px;}
#quanxi_datitle{font-size:18px; font-family:"微软雅黑"; color:#027000; line-height:35px;}
.quanxi_content{ width:950px; margin:0 auto 10px auto; border-top:1px solid #e5e5e5; overflow:hidden; padding:10px 0 10px 88px;}
.quanxi_content p{ font-size:14px;}
#huo_content{ color:#484848;}
#huo_content_orange{color:#ff4900;}
.quanxi_content_left{ float:left; width:320px;}
.quanxi_content_left p{ line-height:35px;}
#quanxi_duanji{color:#ff4900; font-weight:bold; font-size:12px; text-decoration:underline;}
#huo_content_1{ font-size:12px; color:#484848;}

#quanxi_biaoti{ font-weight:bold; color:#027000; padding-left:10px;}
.content_detailad{ padding:10px ; line-height:40px; width:490px; float:left;}
#content_detailad_time{ color:#999; float:right; padding-right:25px;}
.detailed_fenggexian{ border-right:1px dashed #CCC;  width:auto;}

.content_detailad_1{ padding:10px 0 10px 10px; line-height:40px; width:480px; float:right;}
.content_detailad_1 #huo_content:hover,.content_detailad #huo_content:hover{ color:#027000;}

.NEWS_city{padding:5px 0 10px 0; overflow: hidden; zoom: 1;}

.area-tab{display:none;}

#content_line{ float:left; width:300px;}
#content_line.content_line{ float:left; width:450px;}
#content_line .line_company{ font-size:12px; line-height:24px; color:#989898; margin:0 0 0 10px;}

#vehicle_1{ font-size:14px;}
#vehicle_text{ font-size:16px; width:auto; margin:0 0 0 10px; line-height:23px; font-weight:bold; color:#027000; padding-bottom:10px;font-family:"微软雅黑";}
.vehicle_kuang{float:left;height:80px; overflow:hidden;padding:2px; text-align:center; width:103px; margin:0 5px 0 0;}

/*------------新版货源/车源列表样式(20141120)------------*/
/*banner*/
.top_nav_box{background:#77b90f;}
.banner{width:100%;overflow:hidden;background:#77b90f;padding-bottom: 0px;margin-top:-10px;}
.banner_con{margin:0 auto;width:1002px;}
.banner_main{overflow:hidden;height:378px;}
.banner_top{overflow:hidden;padding-bottom:20px;}
.banner_title{overflow:hidden;float:left;background:url(../images/banner_title.jpg) no-repeat;width:300px;height:49px;margin:42px 0 0 0;}
.banner_huo{overflow:hidden;float:right;margin-top:25px;}
.banner_com{overflow:hidden;float:left;}
.banner_che{display:block;width:62px;height:62px;margin-bottom:8px;background:url(../images/banner_che.jpg) no-repeat;}
.banner_che:hover{display:block;width:62px;height:62px;margin-bottom:8px;background:url(../images/banner_cheed.jpg) no-repeat;}
.ban_huo{display:block;width:62px;height:62px;margin-bottom:8px;background:url(../images/banner_huo.jpg) no-repeat;}
.ban_huo:hover{display:block;width:62px;height:62px;margin-bottom:8px;background:url(../images/banner_huoed.jpg) no-repeat;}
.ban_com{display:block;width:62px;height:62px;margin-bottom:8px;background:url(../images/banner_com.jpg) no-repeat;}
.ban_com:hover{display:block;width:62px;height:62px;margin-bottom:8px;background:url(../images/banner_comed.jpg) no-repeat;}
.banner_txt{display:block;font-weight:bold;text-align:center;width:62px;color:#fff;}
.banner_l{overflow:hidden;float:left;background:#95d543;height:378px;}
.banner_nav{overflow:hidden;}
.banner_li{overflow:hidden;float:left;}
.panel_car,.panel_goods{display: none;}
.panel_active{display: inline}
.nav_car{width:63px;height:40px;display:inline-block;background:url(../images/nav_cared.png) 30px center  no-repeat #67a506;padding-left:62px;color:#fff;font-size:16px;font-family:Microsoft YaHei;line-height:40px;}
.nav_car:hover{width:63px;height:40px;display:inline-block;background:url(../images/nav_car.png) 30px center  no-repeat #67a506;padding-left:62px;color:#477204;font-size:16px;font-family:Microsoft YaHei;line-height:40px;text-decoration:none;}
a.nav_caractive{width:63px;height:40px;display:inline-block;background:url(../images/nav_car.png) 30px center  no-repeat #95d543;padding-left:62px;color:#477204;font-size:16px;font-family:Microsoft YaHei;line-height:40px;text-decoration:none;}
a.nav_goodsactive{width:63px;height:40px;display:inline-block;background:url(../images/nav_goods.png) 30px center  no-repeat #95d543;padding-left:62px;color:#477204;font-size:16px;font-family:Microsoft YaHei;line-height:40px;text-decoration:none;}
.nav_goods{width:63px;height:40px;display:inline-block;background:url(../images/nav_goodsed.png) 30px center  no-repeat #67a506;padding-left:62px;color:#fff;font-size:16px;font-family:Microsoft YaHei;line-height:40px;}
.nav_goods:hover{width:63px;height:40px;display:inline-block;background:url(../images/nav_goods.png) 30px center  no-repeat #67a506;padding-left:62px;color:#477204;font-size:16px;font-family:Microsoft YaHei;line-height:40px;text-decoration:none;}
.nav_input1{overflow:hidden;width:213px;background:url(../images/nav_input1.jpg) right 51px no-repeat;padding:30px 0 0 22px;}
.nav_input2{overflow:hidden;width:213px;background:url(../images/nav_input2.jpg) right 2px no-repeat;padding:0 0 14px 22px;}
.origin{width:172px;height:42px;border:1px solid #86bc41;border-radius:10px;padding-left:23px;}
.change{display:inline-block;background:url(../images/change.jpg) no-repeat;width:15px;height:14px;float:right;}
.change1{width:218px;overflow:hidden;margin-left:22px;}
.choice{overflow:hidden;width:195px;height:42px;border:1px solid #86bc41;border-radius:10px;margin:0 0 14px 22px;background:#fff;cursor:pointer;}
.choice1{position:relative;}
.choice_ul{overflow:hidden;background:#fff;width:195px;margin-left:22px;position:absolute;left:0;top:36px;z-index:1000;border:1px solid #86bc41;border-top:none;border-bottom-left-radius:8px;border-bottom-right-radius:8px;}
.choice_li{height: 23px;line-height: 23px;font-size:14px;padding-left:23px;margin:4px 0 5px;overflow:hidden;cursor:pointer;}
.choice_li li.selected{background-color: #F3F3F3;color: #999;height: 35px;line-height: 35px;}
li.hover{background-color: #f1ffd4;}
.nav_check{overflow:hidden;width:213px;;margin:0 0 14px 22px;}
.check{display:inline-block;background:url(../images/nav_check.jpg) no-repeat;width:195px;height:44px;text-align:center;line-height:44px;color:#fff;font-size:18px;font-family:Microsoft YaHei;}
.check:hover{display:inline-block;border-radius:10px;background:#079cc6;width:195px;height:44px;text-align:center;line-height:44px;color:#fff;font-size:18px;font-family:Microsoft YaHei;text-decoration:none;}
.banner_r{float:right;width:750px;height:378px;}
.choice_txt{font-size:14px;height:42px;line-height:42px;display:inline-block;float:left;padding-left:23px;}
.choice_img{display:inline-block;background:url(../images/choice_img.jpg) center center no-repeat;width:30px;height:41px;float:right;}
.center_message{width:100%;background:#f7f7f7;overflow:hidden;}
.center_all{width:1002px;overflow:hidden;margin:8px auto;margin-bottom: 0px;}
.center_driver{overflow:hidden;}
.center_driver1{overflow:hidden;float:left;}
.center_com{width:126px;height:42px;text-align:center;line-height:42px;display:inline-block;font-size:16px;font-family:Microsoft YaHei;color:#000;}
.center_com_hover{width:126px;height:42px;text-align:center;line-height:42px;display:inline-block;font-size:16px;font-family:Microsoft YaHei;color:#fff;background:#77b90f;text-decoration:none;}
.center_new{border:1px solid #CCCCCC;border-top:3px solid #77b90f;background:#fff;overflow:hidden;height:40px;line-height:40px;}
.good{float:left;margin:13px 3px 0 18px}
.good_txt{float:left;}
.new_pub{float:right;display:inline-block;border:1px solid #CCCCCC;width:64px;hieght:20px;line-height:20px;color:#525251;background:url(../images/new_pub.jpg) 57px center no-repeat;padding-left:8px;margin:9px 20px 0 0;border-radius:2px;}
.new_pub:hover{float:right;display:inline-block;border:1px solid #CCCCCC;width:64px;hieght:20px;line-height:20px;color:#525251;background:url(../images/new_pub.jpg) 57px center no-repeat;padding-left:8px;margin:9px 20px 0 0;border-radius:2px;text-decoration:none;}
.new_pub1{float:right;display:inline-block;border:1px solid #CCCCCC;width:64px;hieght:20px;line-height:20px;color:#525251;background:url(../images/price.jpg) 57px center no-repeat;padding-left:8px;margin:9px 20px 0 0;border-radius:2px;}
.new_pub1:hover{float:right;display:inline-block;border:1px solid #CCCCCC;width:64px;hieght:20px;line-height:20px;color:#525251;background:url(../images/price.jpg) 57px center no-repeat;padding-left:8px;margin:9px 20px 0 0;border-radius:2px;text-decoration:none;}
.center_con{overflow:hidden;width:1002px;margin:0 auto;background:#fff;margin-bottom:19px;}
.center_whole{overflow:hidden;border-bottom:1px solid #ececec;height:116px;padding:20px 0 0 20px;}
.center_whole:hover{overflow:hidden;border-bottom:1px solid #ececec;height:116px;padding:20px 0 0 20px;background:#fffee5;}
.center_addr{color:#525251;font-size:14px;font-weight:bold;margin-bottom:10px;}
.center_length{font-size:14px;color:#525251;margin-bottom:14px;overflow:hidden;}
.center_red{color:#ff2121;font-size:14px;}
.cneter_web{color:#66ae34;font-size:14px;}
.cneter_web:hover{color:#ff7300;font-size:14px;}
.center_time{color:#525251;font-size:14px;}
.center_whole1{width:407px;float:left;overflow:hidden;}
.center_whole1-2{width:592px;float:left;overflow:hidden;}
.center_whole2{width:186px;float:left;overflow:hidden;text-align:center;}
.center_whole3{width:218px;float:left;overflow:hidden;text-align:center;}
.center_whole4{width:170px;float:left;overflow:hidden;text-align:center;}
.center_whole5{width:140px;float:left;overflow:hidden;text-align:center;}
.center_whole6{width:185px;float:left;overflow:hidden;text-align:center;}
.center_whole7{width:79px;float:left;overflow:hidden;text-align:center;}
.center_whole8{width:130px;float:left;overflow:hidden;text-align:center;}
.center_whole9{width:201px;float:left;overflow:hidden;text-align:center;}
.center_whole10{width:225px;float:left;overflow:hidden;text-align:center;}
.center_tel{text-align:center;font-weight:bold;color:#ff2121;}
.please{color:#027c00;font-size:14px;line-height:34px;text-decoration:underline !important;}
.please:hover{color:#ff2121;font-size:14px;line-height:34px;}
.driver_name{color:#77b90f;font-size:14px;text-align:center;}
.com_img{width:32px;height:23px;display:inline-block;}
.tuoyun{display:inline-block;width:84px;height:26px;border-radius:2px;text-align:center;line-height:26px;color:#fff;font-size:14px;background:#65AD33;margin-top:29px;}
.tuoyun:hover{display:inline-block;width:84px;height:26px;border-radius:2px;text-align:center;line-height:26px;color:#fff;font-size:14px;text-decoration:none;background:#4A8323;margin-top:29px; box-shadow:inset 2px 2px 2px 2px rgba(0,0,0,0.1)}
.xianqing{display:inline-block;color: #25D;text-decoration: none;}
.xianqing:hover {color: red;text-decoration: none;}
.xianqing:visied {color: #969;}
.page{overflow:hidden;text-align:center;padding:23px 0 26px;}
.page_up{display:inline-block;border:1px solid #999;width:36px;height:36px;font-size:14px;line-height:36px;text-align:36px;color:#666;margin-right:6px;}
.page_up:hover{display:inline-block;border:1px solid #999;width:36px;height:36px;font-size:14px;line-height:36px;text-align:36px;color:#fff;background:#3f9a00;text-decoration:none;}
.price_red{font-size:14px;color:#ff2121;font-weight:bold;}
.center_car{overflow:hidden;border-bottom:1px solid #ececec;height:74px;padding:0 0 0 20px;}
.center_car:hover{overflow:hidden;border-bottom:1px solid #ececec;height:74px;padding:0 0 0 20px;background:#fffee5;}
.center_addr1 a{color:#525251;font-size:16px;font-weight:bold;margin-top:20px;font-weight:bold;display: inline-block;}
.center_tel1{text-align:center;font-weight:bold;color:#ff2121;font-size:14px;}
.center_length1{font-size:12px;color:#050306;}
.center_length2{font-size:12px;color:#050306;margin-top: 25px; }
.center_car3{width:160px;float:left;overflow:hidden;text-align:center;height:74px;}
.center_car4{width:98px;float:left;overflow:hidden;text-align:center;}
.shijian{color:#525251;font-size:14px;}
.pingtai{color:#66ae34;font-size:12px;}
.center_car5{width:130px;float:left;overflow:hidden;text-align:center;}
.contact{display:inline-block;width:84px;height:26px;border-radius:2px;text-align:center;line-height:26px;color:#fff;font-size:14px;background:#4baef6;margin-top:29px;}
.contact:hover{display:inline-block;width:84px;height:26px;border-radius:2px;text-align:center;line-height:26px;color:#fff;font-size:14px;text-decoration:none;background:#378FCF;margin-top:29px;box-shadow:inset 2px 2px 2px 2px rgba(0,0,0,0.1)}
/*center-huo*/
a.now1{width:67px;height:19px;line-height:19px;text-align:center;color:#66ae34;background:#f1ffd4;display:inline-block;border:1px solid #accf58;border-radius:2px;}
a.now1:hover{width:67px;height:19px;line-height:19px;text-align:center;color:#66ae34;background:#f1ffd4;display:inline-block;border:1px solid #accf58;border-radius:2px;text-decoration:none;}
a.now2{width:67px;height:19px;line-height:19px;text-align:center;color:#4d89eb;background:#d4f6ff;display:inline-block;border:1px solid #9dc6f3;border-radius:2px;}
a.now2:hover{width:67px;height:19px;line-height:19px;text-align:center;color:#4d89eb;background:#d4f6ff;display:inline-block;border:1px solid #9dc6f3;border-radius:2px;text-decoration:none;}
a.now3{width:67px;height:19px;line-height:19px;text-align:center;color:#f2b03d;background:#fcffd4;display:inline-block;border:1px solid #fedd5b;border-radius:2px;}
a.now3:hover{width:67px;height:19px;line-height:19px;text-align:center;color:#f2b03d;background:#fcffd4;display:inline-block;border:1px solid #fedd5b;border-radius:2px;text-decoration:none;}
a.now4{width:67px;height:19px;line-height:19px;text-align:center;color:#fb6f3c;background:#fff3e7;display:inline-block;border:1px solid #ecaf94;border-radius:2px;}
a.now4:hover{width:67px;height:19px;line-height:19px;text-align:center;color:#fb6f3c;background:#fff3e7;display:inline-block;border:1px solid #ecaf94;border-radius:2px;text-decoration:none;}
/*center_line*/
.no_pic{width:82px;height:82px;}
/*footer*/
.footer{background:#66ae34;width:100%;overflow:hidden;}
.footer_con{width:1002px;margin:31px auto 45px;}
.footer_p{color:#fff;text-align:center;line-height:28px;}
.f_nav{color:#fff;font-weight:bold;font-family:Microsoft YaHei;}
/*margin*/
.margin-17{margin-right:17px;}
.margin-2{margin-right:2px;}
.margin-7{margin-right:7px;}
.margin-5{margin-right:5px;}
.margin-9{margin-right:9px;}
.margin-4{margin-right:4px;}
.margin-32{margin-right:32px;}
.margin-46{margin-right:46px;}
.margin-75{margin-right:75px;}
.margin-36{margin-right:36px;}
.martom-8{margin-bottom:8px;}
.martom-7{margin-bottom:7px;}
.martom-8{margin-bottom:8px;}
.martop-2{margin-top:2px;}
.martop-5{margin-top:5px;}
.martop-6{margin-top:6px;}
.martop-10{margin-top:10px;}
.martop-15{margin-top:15px;}
.martop-17{margin-top:17px;}
.martop-20{margin-top:20px;}
.martop-22{margin-top:22px;}
.martop-25{margin-top:25px;}
.martop-27{margin-top:27px;}
/*------------新版货源/车源列表样式(20141120)结束------------*/
/*box*/
.box{overflow:hidden;width:480px;background:#65AD33;margin:100px auto;padding-bottom:4px;}
.box_top{color:#fff;font-size:14px;font-weight:bold;padding:0 13px;height:37px;line-height:37px;}
.box_close{float:right;display:inline-block;width:14px;height:14px;background:url(../images/box_close.jpg) no-repeat;margin-top:12px;}
.box_close:hover{float:right;display:inline-block;width:14px;height:14px;background:url(../images/box_closed.jpg) no-repeat;}
.box_con{width:550px;background:#fff;padding:0px 24px 0;height:294px;}
.box_tel{display:inline-block;width:80px;text-align:right;font-size:14px;color:#666;}
.box_addr{color:#666666;font-size:14px;font-weight:bold;}
.box_p{overflow:hidden;margin-bottom:10px;}
.box_map{width:550px;height:250px;border:1px solid #bababa;margin-top:15px;}
.box_line{overflow:hidden;width:472px;margin:0 auto;background:#fff;height:244px;}
.box_word{width:441px;height:146px;border:1px solid #CBCBCB;margin:11px auto;display:block;padding:5px;}
.box_choice{overflow:hidden;float:right;margin:30px 5px 0 0;*margin:30px 5px 0 0;}
.box_choice1{overflow:hidden;float:right;margin:20px 15px 0 0;color:#3e3e3e;}
.box_send{overflow:hidden;float:right;width:84px;height:36px;background:#66ae34;line-height:36px;text-align:center;color:#fff;font-size:14px;display:inline-block;border-radius:2px;margin-right:10px;margin-top:10px;}
.box_send:hover{overflow:hidden;float:right;width:84px;height:36px;background:#66ae34;line-height:36px;text-align:center;color:#fff;font-size:14px;display:inline-block;border-radius:2px;margin-right:10px;margin-top:10px;text-decoration:none;}
/*line-detail*/
.line_detail{overflow:hidden;padding:16px 26px 16px;}
.line_mess{font-size:14px;color:#333333;}
.line_topic{font-size:14px;color:#66ae34;}
.line_addr{color:#333333;font-size:24px;font-family:Microsoft YaHei;height:54px;line-height:54px;border-bottom:3px solid #77B90F;overflow:hidden;margin-top:5px;}
.update{float:right;color:#333;margin-top:7px;}
.detail_con{overflow:hidden;padding-top:18px;margin-bottom:18px; }
.detail_img{width:367px;height:264px;padding:7px 10px;border:1px solid #EEEEEE;float:left;overflow:hidden;}
.detail_txt{overflow:hidden;float:left;margin:54px 0 0 69px;}
.detail_p{overflow:hidden;font-size:14px;color:#000;margin-bottom:15px;}
.detail_blue{color:#2129fa;font-size:14px;text-decoration:underline !important;}
.detail_mess{overflow:hidden;border:1px solid #e3e3e3;}
.detail_desc{overflow:hidden;border:1px solid #e3e3e3; margin-top: 10px;}
.detail_desc_li{height: auto;padding:10px 0px 10px 30px;font-size: 14px;}
.xiangxi{height:38px;line-height:38px;background:#e1f9ee;border-bottom:1px solid #e3e3e3;color:#000;font-size:14px;font-family:Microsoft YaHei;padding-left:20px;}
.detail_main{overflow:hidden;padding:6px;}
.detail_main_li{overflow:hidden;border-bottom:1px dashed #e8e8e8;height:35px;line-height:35px;}
.initiation{display:inline-block;width:108px;text-align:right;color:#696969;font-size:14px;overflow:hidden;}
.checi{display:inline-block;width:345px;color:#696969;font-size:14px;font-weight:bold;overflow:hidden;}
.banner_detail{width:100%;overflow:hidden;background:url(../image/banner_detail.jpg) repeat-x #f7f7f7;padding-bottom:36px;}
.detail_txt1{overflow:hidden;float:left;margin:20px 0 0 20px;}
.detail_p1{overflow:hidden;color:#333333;font-size:14px;display:inline-block;width:78px;text-align:right;}
.detail_p2{overflow:hidden;color:#333333;font-size:14px;font-weight:bold;display:inline-block;}
.credentials{overflow:hidden;width:256px;border-top:1px solid #E2E2E2;padding-top:14px;}
.detail_p3{overflow:hidden;color:#333333;font-size:14px;display:inline-block;width:78px;text-align:right;float:left;line-height:23px;}
.cer_img{overflow:hidden;float:left;}
/*货运信息详情页面样式*/
.hy_detail{min-height: 560px;}