<div class="hero-unit">
    <form id="line-form" class="form-horizontal" action="/line" method="POST">
        <fieldset>
            <div class="page-header">
                <h3 id="js-overview">创建专线</h3>
            </div>
            <% if(params.errors) { %>
            <div class="control-group">
                <ul>
                    <% for(var err in params.errors) { %>
                    <li><%- params.errors[err] %></li>
                    <% } %>
                </ul>
            </div>
            <% } %>
            <%- partial('line/form', {line:params}) %>

            <div class="col-sm-offset-2 col-sm-10" role="form">
                <input type="submit" class="btn btn-primary" value="添加">
            </div>
        </fieldset>
    </form>
</div>
