<div class="hero-unit">
    <form id="line-form" class="form-horizontal" role="form" action="/line/<%= params.id %>?_method=PUT" method="POST">
        <fieldset>
            <div class="page-header">
                <h3 id="js-overview">更新专线</h3>
            </div>
            <% if(params.errors) { %>
            <div class="control-group">
                <ul>
                    <% for(var err in params.errors) { %>
                    <li><%- params.errors[err] %></li>
                    <% } %>
                </ul>
            </div>
            <% } %>
            <%- partial('line/form', {line: line}) %>

            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-primary" value="保存">
                    <button type="submit" formaction="/line/delete/<%= params.id %>" formmethod="POST" class="btn btn-danger">删除</button>
            </div>
        </fieldset>
    </form>
</div>
