<div class="hero-unit">
    <form id="line-form" class="form-horizontal" action="/line/<%= params.id %>?_method=PUT" method="POST">
        <fieldset>
            <legend>Update this Line</legend>
            <% if(params.errors) { %>
            <div class="control-group">
                <ul>
                    <% for(var err in params.errors) { %>
                    <li><%= params.errors[err]; %></li>
                    <% } %>
                </ul>
            </div>
            <% } %>

            <%- partial('form', {line: line}) %>

            <div class="form-actions">
                <input type="submit" class="btn btn-primary" value="保存">
                <form action="/line/<%= params.id %>?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-danger">删除</button>
                </form>
            </div>
        </fieldset>
    </form>
</div>
