<div class="page-header">
    <h2 id="js-overview">所有专线  <a href='/line/add' class="btn btn-primary btn-lg" role="button">创建一条专线信息</a></h2>
</div>

<div id="lines-list">
    <% if (lines) { %>
    <% lines.forEach(function (line) {  %>
    <div class="row list-item" id="line-<%= line.id %>">
        <div class="span8">
                <a href="/line/<%= line.id %>" class='btn pull-left'>
                    <h3>
                        <i class="glyphicon glyphicon-list-alt"></i>   <%- line.id %>
                    </h3>
                </a>
        </div>
    </div>
    <% })%>
    <% } %>
</div>