<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>物流搜索-<%-title%></title>
    <link href="http://www.jt56.org/templates/style/share_style.css" rel="stylesheet">
    <link href="/stylesheets/citySelector.css" rel="stylesheet"/>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/prompt.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/javascripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/javascripts/JT56.js"></script>
    <script type="text/javascript" charset="utf-8" src="/javascripts/index.js"></script>
    <script src="http://int.dpool.sina.com.cn/iplookup/iplookup.php?format=js" type="text/ecmascript"></script>
</head>
<body id="top">
<!--<p id="back-to-fankui"><a href="javascript:;" id="fankui"><span></span>点击反馈</a></p>-->
<p id="back-to-top"><a href="#top"><span></span>返回顶部</a></p>
<%- partial("layouts/top_nav") %>
<%- body %>
<div class="footer">
    <div class="foot-link">
        <a href="http://www.jt56.org/HTML/aboutus/about.shtml" target="_blank">平台介绍</a> |
        <a href="http://www.jt56.org/HTML/about/maps.shtml" target="_blank">网站地图</a> |
        <a href="http://www.jt56.org/HTML/about/Legal.shtml" target="_blank">法律声明</a> |
        <a href="http://www.jt56.org/HTML/download.shtml" target="_blank">下载中心</a> |
        <a href="http://www.jt56.org/HTML/2014/1/591.shtml" target="_blank">诚聘英才</a> |
        <a href="http://www.jt56.org/HTML/about/Contact.shtml" target="_blank">联系我们</a>
    </div>
    <div class="copy">
        <p>copyright&copy;2013-2014 版权所有 湖南交通物流信息服务有限公司 备案/许可证号:<a target="_blank"
                                                              href="javascript:;">湘ICP备13003937号-1</a></p>
    </div>
</div>
</body>
</html>
