<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="author" content="JT56.org UI Team">
    <link rel="shortcut icon" href="/favicon.png">
    <meta name="description" content="描述">
    <meta name="keywords" content="物流信息共享">
    <title>物流信息共享 | 一手物流信息从这里开始</title>
    <!-- css文件 -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!--<link href="/css/jt56.min.css" rel="stylesheet">-->
    <link href="http://ued.jt56.org/bootstrap/css/jt56.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <!-- js文件 -->
    <!-- jQuery (  Bootstrap的JavaScript 引擎) -->
    <!--<script src="http://ued.jt56.org/libs/jquery/jquery-1.10.2.min.js"></script>-->
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <!-- bootstrap的JS文件 -->
    <script src="http://ued.jt56.org/bootstrap/js/bootstrap.min.js"></script>
    <!--<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>-->
    <script src="http://ued.jt56.org/bootstrap/js/jt56.js"></script>
    <!-- 以下为兼容ie6-ie8的支持文件 请根据需求进行修改、添加和删除-->
    <!-- HTML5 Shim 和 Respond.js 都是 IE8 支持HTML5所需支持文件 -->
    <!-- WARNING: Respond.js 不能在file://上实现，（也就是本地预览模式） 请自行搭建服务器 -->
    <!--[if lt IE 9]>
    <script src="http://ued.jt56.org/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="http://ued.jt56.org/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <!--[if lte IE 7]>
    <link rel="stylesheet" type="text/css" href="http://ued.jt56.org/bootstrap/extend/bsie/css/ie.css">
    <link href="/css/non-responsive.css" rel="stylesheet" media="screen">
    <![endif]-->
    <!--[if lte IE 6]>
    <link rel="stylesheet" type="text/css" href="http://ued.jt56.org/bootstrap/extend/bsie/css/bootstrap-ie6-v3.css">
    <![endif]-->
    <script type="text/javascript">
        (function ($) {
            $(document).ready(function () {
                if ($.isFunction($.bootstrapIE6)) $.bootstrapIE6($(document));
            });
        })(jQuery);
    </script>
    <style>
        #top.top{background-color:#f1f1f1;}
        @media (max-width:768px) {
            .container{width:100%; padding:0 20px;}
        }
        @media (min-width:768px) {
            .container{width:100%; padding:0 20px;}
        }

        /* Medium devices (desktops, 992px and up) */
        @media (min-width: 950px) {
            .container{width:100%; padding:0 20px;}
        }

        /* Large devices (large desktops, 1200px and up) */
        @media (min-width: 1020px) {
            .container{width:1002px; padding:0px;}
        }
    </style>
</head>
<body>
<!--网页头部-->
<% include layouts/layout_header.ejs %>
<div class="container">
    <div id="flash-container"></div>
    <script type="text/javascript">$("#flash-container .alert").alert();</script>
    <%- body %>
</div>
<!--网页底部-->
<% include layouts/layout_footer.ejs %>