<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>物流信息共享 | 一手物流信息从这里开始</title>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <!-- The HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
    <!-- 以下为兼容ie6-ie8的支持文件 请根据需求进行修改、添加和删除-->
    <!--[if lte IE 7]>
    <link rel="stylesheet" type="text/css" href="http://ued.jt56.org/bootstrap/extend/bsie/css/ie.css">
    <link href="/style/non-responsive.css" rel="stylesheet" media="screen">
    <![endif]-->
    <!--[if lte IE 6]>
    <link rel="stylesheet" type="text/css" href="http://ued.jt56.org/bootstrap/extend/bsie/css/bootstrap-ie6-v3.css">
    <![endif]-->

    <script src="http://ued.jt56.org/libs/jquery/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="http://ued.jt56.org/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/js/config/init.js" type="text/javascript"></script>

    <link href="/style/bootstrap.min.css" rel="stylesheet"/>
    <link href="/style/style.css" rel="stylesheet"/>

    <!-- The fav and touch icons -->
    <link rel="shortcut icon" href="/images/favicon.ico"/>
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png"/>
</head>
<body>
<!--网页头部-->
<% include layouts/layout_header.ejs %>
<div class="container">
    <div id="flash-container"></div>
    <script type="text/javascript">$("#flash-container .alert").alert();</script>
    <%- body %>
</div>
<script type="text/javascript">
    (function ($) {
        $(document).ready(function () {
            if ($.isFunction($.bootstrapIE6)) $.bootstrapIE6($(document));
        });
    })(jQuery);
</script>
</body>
</html>