<div class="top" id="top">
    <nav class="navbar navbar-default topnav container boder-clear" role="navigation" style="z-index:999;">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">欢迎您，</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">天狼在线 <b class="caret"></b></a>

                    <div class="dropdown-menu zhanghao">
                        <dl class="pull-left"><a href="#"><img src="images/shi1.jpg"/></a></dl>
                        <dt class=""><a href="#">账号管理</a> | <a href="#">退出</a></dt>
                        <dt class="">赶快去<a href="#">实名认证</a></dt>
                    </div>
                </li>
                <li><a href="#">平台首页</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a class="dingdanguanli" href="#"><span class="badge pull-right">42</span>订单管理&nbsp;</a></li>
                <li class="fenge">|</li>
                <li class="xiaoxi"><a class="xiaoxitiao" href="#"><span class="badge pull-right">42</span>消息中心&nbsp;</a>
                </li>
                <li class="fenge">|</li>
                <li><a href="#">公共服务&nbsp;</a></li>
                <li class="fenge">|</li>
                <li><a href="#">帮助中心&nbsp;</a></li>
                <li class="fenge">|</li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">平台导航 <b class="caret"></b></a>

                    <div class="dropdown-menu daohang" style="_width:1002px; _padding:0px;">
                        <ul class="col-lg-2 list-unstyled">
                            <li class="text-center lead"><a href="http://jt56.org/HTML/PublicServices.shtml"
                                                            target="_blank">公共服务</a></li>
                            <ul>
                                <li><a href="http://jt56.org/HTML/PolicyInterpretation.shtml" target="_blank">法律法规</a>
                                </li>
                                <li><a href="http://jt56.org/HTML/LogisticsPriceSystem.shtml" target="_blank">物流指数</a>
                                </li>
                                <li><a href="http://jt56.org/HTML/Layout.shtml" target="_blank">信息标准</a></li>
                                <li><a href="http://jt56.org/HTML/PublicServices.shtml#chaxun" target="_blank">物流查询</a>
                                </li>
                            </ul>
                        </ul>
                        <ul class="col-lg-2 list-unstyled">
                            <li class="text-center lead"><a href="http://jt56.org/HTML/informationstandards.shtml"
                                                            target="_blank">应用服务</a></li>
                            <ul>
                                <li><a href="http://jt56.org/HTML/StandardApplicationTraining.shtml" target="_blank">应用培训</a>
                                </li>
                                <li><a href="http://jt56.org/HTML/LogisticsAndCommonSofeware.shtml"
                                       target="_blank">管理软件</a></li>
                                <li><a href="http://jt56.org/HTML/2013/4/55.shtml" target="_blank">零担运营</a></li>
                                <li><a href="http://jt56.org/HTML/2013/4/62.shtml" target="_blank">电子标签</a></li>
                            </ul>
                        </ul>
                        <ul class="col-lg-2 list-unstyled">
                            <li class="text-center lead"><a href="http://search.jt56.org/goodsinfo.php" target="_blank">信息共享</a>
                            </li>
                            <ul>
                                <li><a href="http://search.jt56.org/goodsinfo.php" target="_blank">货源信息</a></li>
                                <li><a href="http://search.jt56.org/carinfo.php" target="_blank">车源信息</a></li>
                                <li><a href="http://search.jt56.org/line.php" target="_blank">专线信息</a></li>
                                <li><a href="http://search.jt56.org/store.php" target="_blank">仓储信息</a></li>
                            </ul>
                        </ul>

                        <ul class="col-lg-2 list-unstyled">
                            <li class="text-center lead"><a href="http://jt56.org/HTML/2008/1/329.shtml"
                                                            target="_blank">微平台</a></li>
                            <ul>
                                <li><a href="http://jt56.org/HTML/2008/1/329.shtml" target="_blank">功能特色</a></li>
                                <li><a href="http://jt56.org/HTML/2008/1/328.shtml" target="_blank">产品介绍</a></li>
                                <li><a href="http://jt56.org/HTML/CheckInCompany.shtml" target="_blank">物流企业</a></li>
                                <li><a href="http://jt56.org/HTML/application.shtml" target="_blank">申请入驻</a></li>
                            </ul>
                        </ul>
                        <ul class="col-lg-2 list-unstyled">
                            <li class="text-center lead"><a href="http://jt56.org/Templates/jt56map/transportmap.html"
                                                            target="_blank">全息地图</a></li>
                            <ul>
                                <li><a href="http://jt56.org/Templates/jt56map/transportmap.html?cid=0" target="_blank">物流企业</a>
                                </li>
                                <li><a href="http://jt56.org/Templates/jt56map/transportmap.html?cid=1" target="_blank">物流仓库</a>
                                </li>
                                <li><a href="http://jt56.org/Templates/jt56map/transportmap.html?cid=2" target="_blank">物流中转站</a>
                                </li>
                                <li><a href="http://jt56.org/Templates/jt56map/transportmap.html?cid=3" target="_blank">公路运输</a>
                                </li>
                            </ul>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
</div>
<div class="navbig" id="head">
    <nav class="navbar navbar-default container boder-clear navblue" role="navigation">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="#"><img src="/images/logo.jpg" class="img-responsive"
                                                       alt="Responsive image"/></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav nav_big">
                <li>
                    <a class="nav_item" href="#">我的微平台</a>
                </li>
                <li><a class="nav_item" href="/">信息共享</a></li>
                <li><a class="nav_item" href="#">我的应用</a></li>
                <li>
                    <a href="#" class=" nav_item">网站管理</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle nav_item" data-toggle="dropdown">企业信息<b class="caret"></b></a>
                    <ul class="dropdown-menu nav_bigdropdown">
                        <li><a href="#">企业基本信息</a></li>
                        <li><a href="#">企业组织架构</a></li>
                        <li><a href="#">应用授权</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right tn_margin" style="*float:right; *width:265px; *padding-top:10px;">
                <li>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group" style="*float:left;*width:150px;">
                            <input type="text" class="form-control" placeholder="全国最专业的物流搜索引擎"
                                   style="_width:144px; *height:16px;_height:16px; _padding:2px;*overflow:hidden;">
                        </div>
                        <button style="*float:left; *margin-top:2px; _margin-top:5px; *height:30px; _height:16px; _line-height:16px;"
                                type="submit" class="btn btn-default">搜索
                        </button>
                    </form>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
</div>