<div class="top" id="top">
    <div class="search show768">
        <form action="http://search.jt56.org/so56.php" class="search_form" target="_blank" method="get">
            <div class="pull-left search_select">
                <span class="select_selected"><b class="selected">平台</b><b class="drop_down"></b></span>
                <ul class="drop_down_menu" style="display:none;">
                    <li class="li_select">平台</li>
                </ul>
            </div>
            <div style="position:absolute; float:left; width:100%; height:28px; overflow:hidden;">
                <input type="button" class="search_btn"/>
                <input type="text" value="请输入..." name="key" class="search_input"/>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
    <nav class="navbar navbar-default topnav container boder-clear" role="navigation" style="z-index:999;">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand left_first">欢迎您，</span>
            <ul class="nav_user nav navbar-nav">
                <li>
                    <% if (locals.current_user && current_user.name) {
                    %>
                    <a href="http://luc.jt56.org/uc/remoteuserController.do?userindex" class="dropdown-toggle"
                       data-toggle="dropdown"><%= current_user.name %></a>
                    <% } %>
                </li>
            </ul>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav hide768 hide1002">
                <li><a href="http://www.jt56.org" target="_blank">共享平台首页</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="hide768">
                    <div class="search">
                        <form action="http://search.jt56.org/so56.php" class="search_form" target="_blank" method="get">
                            <div class="pull-left search_select">
                                <span class="select_selected"><b class="selected">平台</b><b class="drop_down"></b><div
                                            class="clearfix"></div></span>
                                <ul class="drop_down_menu" style="display:none;">
                                    <li class="li_select">平台</li>
                                </ul>
                            </div>
                            <input type="text" value="请输入..." name="key" class="search_input"/>
                            <input type="button" class="search_btn"/>
                        </form>
                        <div class="clearfix"></div>
                    </div>
                </li>

                <li class="xiaoxi"><a class="xiaoxitiao pull-left"
                                      href="http://msgc.jt56.org/msc/messagesController.do?queryMessageListbyUuid">消息中心&nbsp;</a>
                </li>
                <li class="fenge">|</li>
                <li><a href="http://jt56.org/HTML/PublicServices.shtml" target="_blank">公共服务&nbsp;</a></li>
                <li class="fenge">|</li>
                <li class="dropdown">
                    <a href="javascript:" class="dropdown-toggle" data-toggle="dropdown">平台导航 <b class="caret"></b></a>

                    <div class="dropdown-menu daohang" style="_width:1002px; _padding:0px;">
                        <ul class="daohang_item">
                            <li class="lead"><a class="text_orange" href="http://jt56.org/HTML/PublicServices.shtml"
                                                target="_blank">公共服务</a></li>
                            <ul class="hide768">
                                <li><a href="http://jt56.org/HTML/PolicyInterpretation.shtml" target="_blank">法律法规</a>
                                </li>
                                <li><a href="http://jt56.org/HTML/LogisticsPriceSystem.shtml" target="_blank">物流指数</a>
                                </li>
                                <li><a href="http://jt56.org/HTML/Layout.shtml" target="_blank">信息标准</a></li>
                                <li><a href="http://jt56.org/HTML/PublicServices.shtml#chaxun" target="_blank">物流查询</a>
                                </li>
                            </ul>
                        </ul>
                        <ul class="daohang_item">
                            <li class="lead"><a class="text_blue" href="http://jt56.org/HTML/informationstandards.shtml"
                                                target="_blank">应用服务</a></li>
                            <ul class="hide768">
                                <li><a href="http://jt56.org/HTML/StandardApplicationTraining.shtml" target="_blank">应用培训</a>
                                </li>
                                <li><a href="http://jt56.org/HTML/LogisticsAndCommonSofeware.shtml"
                                       target="_blank">管理软件</a></li>
                                <li><a href="http://jt56.org/HTML/2013/4/55.shtml" target="_blank">零担运营</a></li>
                                <li><a href="http://jt56.org/HTML/2013/4/62.shtml" target="_blank">电子标签</a></li>
                            </ul>
                        </ul>
                        <ul class="daohang_item">
                            <li class="lead"><a class="text_green" href="http://search.jt56.org/goodsinfo.php"
                                                target="_blank">信息共享</a></li>
                            <ul class="hide768">
                                <li><a href="http://search.jt56.org/goodsinfo.php" target="_blank">货源信息</a></li>
                                <li><a href="http://search.jt56.org/carinfo.php" target="_blank">车源信息</a></li>
                                <li><a href="http://search.jt56.org/line.php" target="_blank">专线信息</a></li>
                                <li><a href="http://search.jt56.org/store.php" target="_blank">仓储信息</a></li>
                            </ul>
                        </ul>

                        <ul class="daohang_item">
                            <li class="lead"><a class="text_red" href="http://jt56.org/HTML/2008/1/329.shtml"
                                                target="_blank">微平台</a></li>
                            <ul class="hide768">
                                <li><a href="http://jt56.org/HTML/2008/1/329.shtml" target="_blank">功能特色</a></li>
                                <li><a href="http://jt56.org/HTML/2008/1/328.shtml" target="_blank">产品介绍</a></li>
                                <li><a href="http://jt56.org/HTML/CheckInCompany.shtml" target="_blank">物流企业</a></li>
                                <li><a href="http://jt56.org/HTML/application.shtml" target="_blank">申请入驻</a></li>
                            </ul>
                        </ul>
                        <ul class="daohang_item">
                            <li class="lead"><a class="text_purple"
                                                href="http://jt56.org/Templates/jt56map/transportmap.html"
                                                target="_blank">全息地图</a></li>
                            <ul class="hide768">
                                <li><a href="http://jt56.org/Templates/jt56map/transportmap.html?cid=0" target="_blank">物流企业</a>
                                </li>
                                <li><a href="http://jt56.org/Templates/jt56map/transportmap.html?cid=1" target="_blank">物流仓库</a>
                                </li>
                                <li><a href="http://jt56.org/Templates/jt56map/transportmap.html?cid=2" target="_blank">物流中转站</a>
                                </li>
                                <li><a href="http://jt56.org/Templates/jt56map/transportmap.html?cid=3" target="_blank">公路运输</a>
                                </li>
                            </ul>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
</div>
<div class="navbig" id="head">
    <nav class="navbar navbar-default container boder-clear navblue" role="navigation">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav nav_big">
                <li>
                    <a class="nav_item" href="http://ec.jt56.org/ec" target="_blank">微平台首页</a>
                </li>
                <li class="li_click"><a class="nav_item" href="http://logisinfo.jt56.org">信息共享</a></li>
                <li><a class="nav_item" href="http://ec.jt56.org/ec/enterpriseController.do?showApplication"
                       target="_blank">我的应用</a></li>
                <li>
                    <a href="http://login.jt56.org/webAdmin" class=" nav_item" target="_blank">网站管理</a>
                </li>
                <li class="dropdown">
                    <a href="javascript:" class="dropdown-toggle nav_item" data-toggle="dropdown">企业信息<b
                                class="caret"></b></a>
                    <ul class="dropdown-menu nav_bigdropdown">
                        <li><a href="http://ec.jt56.org/ec/enterpriseController.do?viewEnterpriseinfo" target="_blank">企业基本信息</a>
                        </li>
                        <li><a href="http://ec.jt56.org/ec/adminNodeController.do?show" target="_blank">企业组织架构</a></li>
                        <li><a href="http://ec.jt56.org/ec/userapplicationController.do?userapplication"
                               target="_blank">应用授权</a></li>
                        <li><a href="http://ec.jt56.org/ec/bssNodeController.do?show" target="_blank">业务基础信息</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </nav>
</div>