<div class="clearfix"></div>
<div class="col-lg-12 footer">
    <div class="container w1002 text-right">
        copyright&copy;2013 版权所有 湖南交通物流信息服务有限公司 备案/许可证号：湘ICP备13003937号-1
    </div>
</div>
</body>
</html>